body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f0f2f5; /* 少し落ち着いた背景色 */
}
.app-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 40px; /* 大胆な余白 */
}



.add-project-button-header {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 1.1em;
  cursor: pointer;
  width: 100%;
  margin-bottom: 20px;
  transition: background-color 0.2s;
}

.add-project-button-header:hover {
  background-color: #218838;
}

/* 検索バーと表示切替スイッチのレイアウト */
.app-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 8px;
  border: 1px solid #d9d9d9;
  width: 300px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.search-bar svg {
  color: #666;
}

.search-bar input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 1em;
  background: none;
}

.search-bar input::placeholder {
  color: #999;
}
